@font-face {
  font-family: harabara;
  src: url('../fonts/Harabara.otf');
}
@font-face {
  font-family: basictitle;
  src: url('../fonts/basictitle.ttf');
}

@font-face {
  font-family: lato;
  font-weight: normal;
  src:url('../fonts/Lato/Lato-Regular.ttf');
}

@font-face {
  font-family: lato;
  font-weight: bolder;
  src:url('../fonts/Lato/Lato-Bold.ttf');
}
@import url('https://fonts.googleapis.com/css?family=Montserrat:200,400,500,800');

@font-face {
  font-family: avenir;
  font-weight: 700;
  src:url('../fonts/Avenir/Avenir-bold.otf');
}

@import url('https://fonts.googleapis.com/css?family=PT+Serif');
